$color-primary: #164b6a;
$color-black: #333;
$color-white: #fff;
$color-blue: #083d77;
$color-orange: #edae49;
$color-green: #329f5b;
$color-red: #f25f5c;

$font-size-small: 1.3rem;
$font-size-normal: 1.6rem;
$font-size-medium: 2.1rem;
$font-size-big: 3.2rem;
