.products {
  padding: 0;

  .section__body {
    gap: 14rem;
  }

  .section__content {
    flex: 2;
  }

  .product_block {
    margin: 0 1rem;
  }

  &__button {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}
